body {

  #options-container {
    display: flex;
    flex-direction: column;

    .courseDisplay {
      display: flex;
      align-items: center;

      #courseName {
        margin-bottom: 4px;
        margin-left: 5px;
      }
    }
  }

  #scorecard-container {
    .table-responsive {
      table {
        tr {
          border: 1px solid black;

          th {

            input {
              width: 120px;
            }
          }

          td {
            text-align: center;
            margin: 0;
            padding: 0;
            padding-top: 10px;
            
            input {
              width: 40px;
              height: 2em;
            }
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
          }
        }

        #holeRow {
          background-color: #00DD00;
        }

        #blueRowContainer {
          background-color: #0099FF;
        }

        #parRowContainer {
          background-color: #000000;
          color: #dadfea;
        }

        #redRowContainer {
          background-color: #DF0000;
        }

        #handiRowContainer {
          background-color: #dadfea;
        }
      }
    }
  }
}