body {

  #options-container {
    display: flex;
    flex-direction: column;

    .courseDisplay {
      display: flex;
      align-items: center;

      #courseName {
        margin-bottom: 4px;
        margin-left: 5px;
      }
    }
  }

  #scorecard-container {
    .table-responsive {
      table {
        tr {
          
          th {
            border-left: 1px solid #DEE2E6;
            border-right: 1px solid #DEE2E6;

            input {
              width: 120px;
            }
          }

          td {
            text-align: center;
            border-right: 1px solid #DEE2E6;
            margin: 0;
            padding: 0;
            
            input {
              width: 40px;
              height: 55px;
            }
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
          }
        }
      }
    }
  }
}